<html>
  <head>
    <title> scoreTracker - rescue</title>
    <meta http-equiv="Content-Language" content="en-EN">

    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/jquery-ui.min.js"></script>
    <script src="js/lib/keylock.js"></script>
    <script src="js/lib/jquery.keylock.js"></script>
    <script src="js/lib/jquery.idle-timer.js"></script>
    <script src="js/lib/jquery.stopwatch.js"></script>
    <script src="js/scoreTracker.js"></script>
    <script src="js/fills.js"></script>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/jquery-ui.css" type="text/css"/>

    <script>
            window.onbeforeunload = function(){
                    if (window.finished)
                        return;
                    else
                        return 'Are you sure you want to quit?';
            }
    </script>

    <script>
        var ST = new scoreTracker({
          'update_url':  "{% url performance_play performance_id %}",
          'back_url': "{% url index_rescue %}"
        });

        $(document).ready(function() {
            $('#dialogMain').hide();
            $('#tabs').tabs();

          $(".btn-slide").click(function(){
              $("#panel").slideToggle("slow");
              if ($(this).text() == String.fromCharCode(9660)) {
                  $(this).text(String.fromCharCode(9650));
              } else {
                  $(this).text(String.fromCharCode(9660));
              }
          });

          $.idleTimer(2500);
          $(document).bind("idle.idleTimer", function() {
            $("#main").fadeOut("slow");
            $("#underMain").fadeOut("slow");
          });
          $(document).bind("active.idleTimer", function() {
            $("#main").fadeIn("slow");
            $("#underMain").fadeIn("slow");
          });

          $('.element3').click(ST.toggle);
          $(".element3").bind("mouseover", fill3);
          $(".element3").bind("mouseout", unfill3);
          $(".startBckg").bind("mouseover", fill3);
          $(".startBckg").bind("mouseout", unfill3);

        });
  	</script>

</head>
<body>
    <div id="startAll" onclick="ST.startPerf()">
      <div id="startText">Start 1. round</div>
    </div>
	<div id="underMain">
        <div id="panel">
			<div id="tabs">
    	<ul>
    		<li><a href="#fragment-1"><span>Settings</span></a></li>
			</ul>

				<div id="fragment-1">
					<div class="placeholder"><button id="btnResetTime" onclick="ST.resetTime()">Reset Time</button></div>
					<div class="placeholder"><button id="btnResetScore" onclick="ST.resetScore()">Reset Score</button></div>
					<div class="placeholder"><button id="btnShowDialog" onclick="ST.showD()">Show Dialog</button></div>
				</div>

			</div>
		</div>
		<div class="slide" style="text-align: center;"><span class="btn-slide">&#9660;</span></div>
	</div>

	<div id="main">
		<div class="middleBckg">    <a class="button orange" onclick="ST.showD" style="position: absolute; right: 2px; bottom: 2px;"> Send Results </a></div>
    <div class="startBckg" onclick="ST.toggle()">
			<span id="btnStart" class="startText">Start</span>
    </div>
	</div>

	<!-- dialog, hidden at the begin of game by jquery funct .hide() -->
	<div id="dialogMain">
    <div id="dialog" title="Results of the team Robot" style="font-size:50.5%;">
			<div style="height: 70px; font-size:130.5%;text-align: center;">
        <form action="" method="POST" id="dialogForm">
          <table style="width: 50%; float: right;">
            <tr>
              <td style="float: right;">Gap:</td>
              <td> <input style="width: 30px;" type="text" id="gap" />x</td>
            <tr>
            <tr>
              <td style="float: right;">Obstacle:</td>
              <td> <input style="width: 30px;" type="text" id="obstacle" />x</td>
            <tr>
            <tr>
              <td style="float: right;">Speed bump:</td>
              <td> <input style="width: 30px;" type="text" id="speed_bump" />x</td>
            <tr>
            <tr>
              <td style="float: right;">Intersection:</td>
              <td> <input style="width: 30px;" type="text" id="intersection" />x</td>
            <tr>
          </table>
           
          <table style="width: 50%;">
            <tr>
              <td style="float: right;">Room 1:</td>
              <td> <input style="width: 30px;" type="text" id="room1" />. try</td>
            </tr>
            <tr>
              <td style="float: right;">Room 2:</td>
              <td> <input style="width: 30px;" type="text" id="room2" />. try</td>
            </tr>
            <tr>
              <td style="float: right;">Room 3:</td>
              <td> <input style="width: 30px;" type="text" id="room3" />. try</td>
            </tr>
            <tr>
              <td style="float: right;">Ramp:</td>
              <td> <input style="width: 30px;" type="text" id="ramp" />. try</td>
            </tr>
            <tr>
              <td style="float: right;">Hallway:</td>
              <td> <input style="width: 30px;" type="text" id="hallway" />. try</td>
            </tr>
            <tr>
              <td style="float: right;">Victim:</td>
              <td> <input style="width: 30px;" type="text" id="victim" />. try</td>
            </tr> 
          </table>

          <table style="margin: 0 auto;">
            <tr> 
              <td>Time:</td> 
              <td><input style="width: 130px;" type="text" id="time_dialog" /></td>
            </tr>
          </table>
          
          <table style="padding-top: 10px;">
            <tr>
              <td>Your password: </td>
              <td><input type="password" name="pass" /> </td>
            </tr>
          </table>
          <input type="hidden" name="final" value="true" />
        </form>
			</div>
		</div>
	</div>
    
  <div id="names">
    <div class="name"><span class="element1" id="name1">Robot</span></div>
  </div>

  <div id="scores_try" class="scores" style="width: 50%;float: right;">
    <table style="margin: 0 auto; font-size: 100%; color: #ffffff;">
      <tr>
        <td> Gap: </td>
        <td> <a class="button red" onclick="ST.rmEach('#EachGap', 'gap');">-</a> </td>
        <td> <span id="EachGap">0<span style="font-size: 50%;">x</span></span> </td>
        <td> <a class="button green" onclick="ST.addEach('#EachGap', 'gap');">+</a> </td>
      </tr>

      <tr>
        <td>Obstacle: </td>
        <td><a class="button red" onclick="ST.rmEach('#EachObstacle', 'obstacle');">-</a> </td>
        <td><span id="EachObstacle">0<span style="font-size: 50%;">x</span></span> </td>
        <td><a class="button green" onclick="ST.addEach('#EachObstacle', 'obstacle');">+</a> </td>
      </tr>

      <tr>
        <td>Speed Bump: </td>
        <td><a class="button red" onclick="ST.rmEach('#EachSpeedBump', 'speed_bump');">-</a> </td>
        <td><span id="EachSpeedBump">0<span style="font-size: 50%;">x</span></span> </td>
        <td><a class="button green" onclick="ST.addEach('#EachSpeedBump', 'speed_bump');">+</a> </td>
      </tr>

      <tr>
        <td>Intersection: </td>
        <td><a class="button red" onclick="ST.rmEach('#EachIntersection', 'intersection');">-</a> </td>
        <td><span id="EachIntersection">0<span style="font-size: 50%;">x</span></span> </td>
        <td><a class="button green" onclick="ST.addEach('#EachIntersection', 'intersection');">+</a> </td>
      </tr>
    </table>
  </div>
  
  <div id="scores_each" class="scores" style="width: 50%;">
    <table style="margin: 0 auto; font-size: 100%; color: #ffffff;">
      <tr>
        <td>Room 1:</td>
        <td><a class="button red" onclick="ST.rmTry('#TryRoom1', 'room1');">-</a></td>
        <td><span id="TryRoom1">0. <span style="font-size: 50%;">try</span></span></td>
        <td><a class="button green" onclick="ST.addTry('#TryRoom1', 'room1');">+</a></td>
      </tr>

      <tr>
        <td>Room 2:</td>
        <td><a class="button red" onclick="ST.rmTry('#TryRoom2', 'room2');">-</a></td>
        <td><span id="TryRoom2">0. <span style="font-size: 50%;">try</span></span></td>
        <td><a class="button green" onclick="ST.addTry('#TryRoom2', 'room2');">+</a></td>
      </tr>

      <tr>
        <td>Room 3:</td>
        <td><a class="button red" onclick="ST.rmTry('#TryRoom3', 'room3');">-</a></td>
        <td><span id="TryRoom3">0. <span style="font-size: 50%;">try</span></span></td>
        <td><a class="button green" onclick="ST.addTry('#TryRoom3', 'room3');">+</a></td>
      </tr>

      <tr>
        <td>Ramp:</td>
        <td><a class="button red" onclick="ST.rmTry('#TryRamp', 'ramp');">-</a></td>
        <td><span id="TryRamp">0. <span style="font-size: 50%;">try</span></span></td>
        <td><a class="button green" onclick="ST.addTry('#TryRamp', 'ramp');">+</a></td>
      </tr>

      <tr>
        <td>Hallway:</td>
        <td><a class="button red" onclick="ST.rmTry('#TryHallway', 'hallway');">-</a></td>
        <td><span id="TryHallway">0. <span style="font-size: 50%;">try</span></span></td>
        <td><a class="button green" onclick="ST.addTry('#TryHallway', 'hallway');">+</a></td>
      </tr>

      <tr>
        <td>Victim:</td>
        <td><a class="button red" onclick="ST.rmTry('#TryVictim', 'victim');">-</a></td>
        <td><span id="TryVictim">0. <span style="font-size: 50%;">try</span></span></td>
        <td><a class="button green" onclick="ST.addTry('#TryVictim', 'victim');">+</a></td>
      </tr>
    </table>     
  </div>
  <div style="clear:both;"></div>

  <div id="timeBar" class="element3">
		<div id="time" class="time">00:00,00</div>
	</div>
	<div id="halftime" class="halftime"><span>1.</span></div>
  <div style="clear: both;"></div>
</body>
</html>
